html, body {
	height: 100%;
}
body {
	background-color: #eeeeee;
	display: table;
    font-size: 0.9em;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

#app {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.dialog {}

.dialog__content {}

.dialog__content > div {
	background-color: #212121 !important;
    border: 10px solid #e0e0e0;
	border-radius: 10px !important;
	color: #e0e0e0 !important;
	margin: 0 auto;
	padding: 10px;
	width: 460px;
}

.dialog__title {
	color: #e0e0e0 !important;
	text-align: center;
}

.dialog__body {
	color: #e0e0e0 !important;
}

.dialog__actions-container {
	text-align: center !important;
}

.button {
	box-shadow: none !important;
	background-color: inherit !important;
	margin: 0 10px !important;
}

.button > button {
	border-radius: 10px !important;
}

.tile-outer {
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

.tile-inner {
	background-color: '#fff';
	color: #212121;
	text-decoration: none;
}
